* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#veronicah1 {
    color: white;
    text-shadow: 2px 2px #11225e;
}

.foto {
    border-radius: 50%;
}

.foto:hover {
    transform: scale(1.13);
    transition-duration: 0.8s;
}

nav {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2B3A70;
}

.hr {
    height: 2vh;
    width: 80%;
    align-self: center;
}

header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    text-decoration: none;
    background-color: #A5B6F2;
    padding: 5%;
    color: #11225e;

}

.caixa {
/*     background-color:#4861BD; */
    outline: none;
    color: white;
    padding: 1.2rem;
    border: none;
    font-family: 'Trebuchet MS';
    font-size: medium;
    text-decoration: none;
    
}

.caixa:hover {
    background-color:#A5B6F2;
    transform: scale(1.1);
    transition-duration: 0.7s;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

section {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5%;

}

.section {
    background-color: white;
}

.subtitulo {
    color:#4861BD;
}

.div-port {
    text-justify: justify;
    gap: 15px;
}

.exp-prof {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;;
    padding: 5%;
}

.imgp {
    display: flex;
    align-items: center;
    gap: 2%;
}

.formulario {
    background-color:#6979b4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subtitulo2 {
    color: white
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.input {
        width: 300px;
        margin: 0 auto;
        padding: 10px;
        border: none;
        margin-bottom: 10px;
        border-radius: 50px;
}

button {
        width: 90px;
        margin: 0 auto;
        padding: 10px;
        border: none;
        background-color: #11225e;
        color: white;
        margin-bottom: 10px;
        border-radius: 50px;
}

button:hover{
    background-color:#A5B6F2;
    transform: scale(1.1);
    transition-duration: 0.7s; 
    border: solid #11225e;
    color: #11225e;
}

footer {
    padding: 10%;
    background-color: #2B3A70;
    text-align: center;
    gap: 5%;
    color: white;
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}